<h3>Authors</h3>

<p>This section is used to display information about authors.</p>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
